.header {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  padding: 10px;
}

.headertext {
  padding-top: 20px;
  padding-left: 10px;
}

.login {
  padding-top: 30px;
  position: absolute;
  right: 10px;
}

.maintext {
  text-align: center;
}