.header {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  padding: 10px;
}

.headertext {
  padding-top: 20px;
  padding-left: 10px;
}

.login {
  padding-top: 30px;
  position: absolute;
  right: 10px;
}

.loginbutton {
  margin: 5px;
}

.maintext {
  text-align: center;
}

.items {
  border: 1px solid black;
  text-align: center;
}

.signup {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: gray;
  padding: 10px;
}

.signup > p {
  margin-bottom: 0;
  margin-top: 5px;
}